<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Musée du Louvre{% endblock %}</title>

    {% block stylesheets %}

        <link rel="stylesheet" href="../../web/style/style.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('../web/font-awesome-4.7.0 3/css/font-awesome.css') }}">

    {% endblock %}

</head>

<body>

<nav class="main-nav">
    <div class="main-nav__logo">
        <a class="main-nav__logo-link" href="{{ path('app_home') }}"><img src="../../web/uploads/Logo.png" alt="Logo du Louvre " class="louvre_logo"></a>

<div class="reseau">
        <a href="#" ><i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></a>
        <a href="https://twitter.com/fred2a88"><i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/frédéric-d-278069130"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a>
        <a href="https://github.com/tao2a/projet_4"><i class="fa fa-github-square fa-3x" aria-hidden="true"></i></a>
</div>
</div>

    <ul class="main-nav__menu">

        <li class="main-nav__menu-item">
            <a class="main-nav__menu-item-link" href="{{ path('app_home') }}">Informations pratiques</a>
        </li>
        <li class="main-nav__menu-item">
            <a class="main-nav__menu-item-link" href="{{ path('app_home') }}">Visites et activités</a>
        </li>
        <li class="main-nav__menu-item">
            <a class="main-nav__menu-item-link" href="{{ path('app_home') }}">Expositions et actualités</a>
        </li>
        <li class="main-nav__menu-item">
            <a class="main-nav__menu-item-link" href="{{ path('app_home') }}">Oeuvres et palais</a>
        </li>
        <li class="main-nav__menu-item">
            <a class="main-nav__menu-item-link" href="{{ path('app_home') }}">Arts et éducation</a>
        </li>
        <li class="main-nav__menu-item">
            <a class="main-nav__menu-item-link" href="{{ path('app_home') }}">Billeterie</a>
        </li>
    </ul>
</nav>

<div class="container">

{% block body %}

{% endblock %}


</div>
</body>

<footer>
    <a href="#" ><p>Mentions légales</p></a>
  <a href="#" ><p>Conditions générales de vente</p></a>
    <p>&copy; Projet Kobayashi {{ 'now'|date('Y') }} and beyond. <i class="fa fa-hand-spock-o fa-lg"></i></p>
</footer>
</html>
