{# src/AppBundle/Resources/views/Louvre/booking.html.twig #}

{% extends "AppBundle::layout.html.twig" %}

{% block app_body %}


    <div class="container">
        <h2>Commande de billet</h2>
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

        {{ form_errors(form) }}

        <div class="form-group">


            {{ form_widget(form.customer.name,  {'attr': {'class': 'place', 'placeholder': "Nom" }}) }}
            {{ form_errors(form.customer.name) }}


            {{ form_widget(form.customer.name, {'attr': {'class': 'field'}}) }}


            {{ form_widget(form.customer.firstName,  {'attr': {'class': 'place', 'placeholder': "Prénom" }}) }}
            {{ form_errors(form.customer.firstName) }}


            {{ form_widget(form.customer.firstName, {'attr': {'class': 'field'}}) }}



        </div>

        <h3>Adresse</h3><br/>

        <div class="form-group">

            {{ form_widget(form.customer.street,  {'attr': {'class': 'place', 'placeholder': "Rue" }}) }}
            {{ form_errors(form.customer.street) }}


            {{ form_widget(form.customer.street, {'attr': {'class': 'field'}}) }}

        <br>


        {{ form_widget(form.customer.postalCode,  {'attr': {'class': 'place', 'placeholder': "Code postal" }}) }}
        {{ form_errors(form.customer.postalCode) }}


        {{ form_widget(form.customer.postalCode, {'attr': {'class': 'field'}}) }}

        <br>


        {{ form_widget(form.customer.city,  {'attr': {'class': 'place', 'placeholder': "Ville" }}) }}
        {{ form_errors(form.customer.city) }}


        {{ form_widget(form.customer.city, {'attr': {'class': 'field'}}) }}

        <br>


        {{ form_widget(form.customer.country,  {'attr': {'class': 'place', 'placeholder': "Pays" }}) }}
        {{ form_errors(form.customer.country) }}


        {{ form_widget(form.customer.country, {'attr': {'class': 'field'}}) }}

        <br>


        {{ form_widget(form.customer.email,  {'attr': {'class': 'place', 'placeholder': "Email" }}) }}
        {{ form_errors(form.customer.email) }}


        {{ form_widget(form.customer.email, {'attr': {'class': 'field'}}) }}

        <br>


        {#{{ form_widget(form.Suivant, {'attr': {'class': 'btn btn-primary'}}) }}#}
        <input type="submit" value="Suivant" class="btn btn-primary">




    {{ form_rest(form) }}




    {{ form_end(form) }}

    </div>

{% endblock app_body %}