{# src/AppBundle/Resources/views/Louvre/index.html.twig #}

{% extends "AppBundle::layout.html.twig" %}

{% block app_body %}
    <div class="quote"><p>
            <i class="fa fa-quote-left fa-2x" aria-hidden="true"></i>L'art est la présence dans la vie de ce qui devrait
            appartenir à la mort ; le musée est le seul lieu du monde qui échappe à la mort.</p>
    </div>
    <p class="quote-author">André Malraux </p>


    <div id="vignette">

        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="http://placehold.it/250x150&text=img2" target="_blank">
                        <img src="{{ asset('uploads/louvre.jpg') }}" alt="Lights" style="width:100%">
                        <div class="caption">
                            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="http://placehold.it/250x150&text=img2" target="_blank">
                        <img src="{{ asset('uploads/louvre.jpg') }}" alt="Lights" style="width:100%">
                        <div class="caption">
                            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="http://placehold.it/250x150&text=img2" target="_blank">
                        <img src="{{ asset('uploads/louvre.jpg') }}" alt="Lights" style="width:100%">
                        <div class="caption">
                            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="http://placehold.it/250x150&text=img2" target="_blank">
                        <img src="{{ asset('uploads/louvre.jpg') }}" alt="Lights" style="width:100%">
                        <div class="caption">
                            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="http://placehold.it/250x150&text=img2" target="_blank">
                        <img src="{{ asset('uploads/louvre.jpg') }}" alt="Lights" style="width:100%">
                        <div class="caption">
                            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="http://placehold.it/250x150&text=img2" target="_blank">
                        <img src="{{ asset('uploads/louvre.jpg') }}" alt="Lights" style="width:100%">
                        <div class="caption">
                            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <hr/>
{% endblock %}

